In [1]:
import numpy as np
import pandas as pd
import dateutil

In [2]:
df = pd.read_csv(r'test_data\tiny_44147_B.ASC', header=None, skiprows=20,  
                             infer_datetime_format=True, encoding='ANSI',
                             engine='python', parse_dates=[0], skipinitialspace=True,
                             sep=None)

In [3]:
df

              0         1          2        3        4
0    2007-06-30  19:46:49  196.20521  412.475  133.288
1    2007-06-30  19:46:59  196.20799  412.476  133.288
2    2007-06-30  19:47:09  196.21077  412.476  133.288
3    2007-06-30  19:47:19  196.21354  412.476  133.288
4    2007-06-30  19:47:29  196.21632  412.477  133.288
...         ...       ...        ...      ...      ...
3516 2007-01-07  05:32:46  205.97108  413.391  133.313
3517 2007-01-07  05:32:56  205.97386  413.392  133.313
3518 2007-01-07  05:33:06  205.97664  413.392  133.313
3519 2007-01-07  05:33:16  205.97941  413.392  133.313
3520 2007-01-07  05:33:26  205.98219  413.392  133.313

[3521 rows x 5 columns]

In [4]:
df[0]

0      2007-06-30
1      2007-06-30
2      2007-06-30
3      2007-06-30
4      2007-06-30
          ...
3516   2007-01-07
3517   2007-01-07
3518   2007-01-07
3519   2007-01-07
3520   2007-01-07
Name: 0, Length: 3521, dtype: datetime64[ns]

In [8]:
date_as_str = df[0].dt.strftime('%d-%m-%y')
date_as_str

0       30-06-07
1       30-06-07
2       30-06-07
3       30-06-07
4       30-06-07
          ...
3516    07-01-07
3517    07-01-07
3518    07-01-07
3519    07-01-07
3520    07-01-07
Name: 0, Length: 3521, dtype: object

In [12]:
date_inv=pd.to_datetime(date_as_str, format='%m-%d-%y', errors='coerce')

In [15]:
date_inv = date_inv.fillna(df[0])

In [33]:
def _check_dates(ds):
    dis = ds+np.timedelta64(1, "D")
    dis = dis.shift(1)
    print(dis[1510:1525]
    dck = (dis > ds)
    dck[0] = True # because of the shift
    print((~dck)[1510:1525])
    nwrong = (~dck).sum()
    return nwrong

In [34]:
_check_dates(df[0])

0             NaT
1      2007-07-01
2      2007-07-01
3      2007-07-01
4      2007-07-01
          ...
3516   2007-01-08
3517   2007-01-08
3518   2007-01-08
3519   2007-01-08
3520   2007-01-08
Name: 0, Length: 3521, dtype: datetime64[ns]
0       False
1       False
2       False
3       False
4       False
        ...
3516    False
3517    False
3518    False
3519    False
3520    False
Name: 0, Length: 3521, dtype: bool

0

In [36]:
df.loc[1510:1525,0]

1510   2007-06-30
1511   2007-06-30
1512   2007-06-30
1513   2007-06-30
1514   2007-06-30
1515   2007-06-30
1516   2007-06-30
1517   2007-06-30
1518   2007-06-30
1519   2007-06-30
1520   2007-01-07
1521   2007-01-07
1522   2007-01-07
1523   2007-01-07
1524   2007-01-07
1525   2007-01-07
Name: 0, dtype: datetime64[ns]

In [26]:
dis

0                      True
1       2007-07-01 00:00:00
2       2007-07-01 00:00:00
3       2007-07-01 00:00:00
4       2007-07-01 00:00:00
               ...
3516    2007-07-02 00:00:00
3517    2007-07-02 00:00:00
3518    2007-07-02 00:00:00
3519    2007-07-02 00:00:00
3520    2007-07-02 00:00:00
Name: 0, Length: 3521, dtype: object